<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edward.nyansapo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/small_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/small_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.edward.nyansapo.presentation.ui.main.MainActivity2">


        </activity>
        <activity android:name=".presentation.ui.student.IndividualStudentPageActivity" />
        <activity android:name=".presentation.ui.student.StudentInfoPageActivity" />
        <activity android:name=".presentation.ui.begin_assessment_chooser.BeginAssessMentChooserActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".presentation.ui.learning_level.LearningLevelActivity" >

        </activity>
        <activity android:name=".presentation.ui.begin_assessment.BeginAssessementActivity" />
        <activity android:name=".presentation.ui.individual_activities.IndividualActivitiesActivity" />
        <activity android:name=".presentation.ui.activities.ActivitiesActivity" />
        <activity android:name=".presentation.ui.login.LoginActivity" />
        <activity android:name=".studentSettings" />
        <activity android:name=".MainActivity" />
        <activity android:name=".QuestionStory" />
        <activity android:name=".student_assessments" />
        <activity android:name=".assessment_detail" />
        <activity android:name=".SelectAssessment" />
        <activity android:name=".settings" />
        <activity android:name=".cumulativeProgress" />
        <activity android:name=".studentDetails" />
        <activity android:name=".home" />
        <activity android:name=".viewAssessment" />
        <activity android:name=".registerSchool" />
        <activity android:name=".RegisterTeacher" />
        <activity android:name=".selectAssesment" />
        <activity android:name=".student_activity" />
        <activity android:name=".selectSchool" />
        <activity android:name=".index">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeacherLogin" />
        <activity android:name=".Interface_selecter" />
        <activity android:name=".Begin_Assessment" />
        <activity android:name=".PreAssessment" />
        <activity android:name=".paragraph" />
        <activity android:name=".paragraph_assessment" />
        <activity android:name=".story_assessment" />
        <activity android:name=".storyQuestions" />
        <activity android:name=".word_assessment" />
        <activity android:name=".letter_assessment" />
        <activity android:name=".thankYou" />
        <activity android:name=".registerStudent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.edward.nyansapo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/slide_out_right" />
    </application>

</manifest>